html, body {
	font-family: Trebuchet MS;
	background-color: #eff2f7;
	text-align:center;
}
#header {
	text-transform: uppercase;
	color: #2d2e30;
	font-size: 46px;
}
#container{
	position: relative;
	align-self: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	min-width: 400px;
	height: 90%;
}
#eq{
	text-align: center;
	font-size: 18px;
}
#form{
	color: #2d2e30;
	text-align: center;
	margin-top: 10px;
}
.material-icons{
	color: #848484;
}
.material-icons:hover{
	color: black;
}
#animation_options{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	width: 550px;
	margin: auto;
	margin-top: 8px;
	border-radius: 10px;
	border-style: solid;
	border-color: #848484;
	border-width: 1px;
}
#animation_label{
	display: inline-block;
	font-weight: bold;
}
#errors{
	display: none;
	height: 25px;
	color: red;
	margin-top: -8px;
}
#logmap_container{
	height: 470px;
	width: 500px;
	padding-top: 10px;
	text-align: left;
	margin: auto;
	display: grid;
	grid-template-columns: 30px 40px 370px;
	grid-template-rows: 30px 400px 15px 30px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#y_label{
	grid-area: 2 / 1 / 4 / 2;
	margin-left: 10px;
	line-height: 400px;
	vertical-align: middle;
}
#x_label{
	grid-area: 4 / 3 / 4 / 5;
	text-align: center;
	width: 400px;
	align-self: left;
}
#cobweb_label{
	grid-area: 1 / 2 / 2 / 5;
	text-align: center;
}
#y_axis{
	grid-area: 2 / 2 / 4 / 3;
	margin-top: -8px;
	margin-right: 3px;
}
#y_axis div{
	text-align: right;
}
#x_axis{
	grid-area: 3 / 2 / 4 / 5;
	margin: auto;
	margin-top: -2px;
	margin-left: 
	display: table;
}
#x_axis span {
	text-align: center;
	display: table-cell;
}
#plot{
	grid-area: 2 / 3 / 3 / 5;
}


	